* {
  background-color: black;
  font-family: 'Rubik';
}

header {
  color: white;
}

header > h1 {
  margin-left: 50px;
}

input {
  width: 20rem;
  border-radius: 5px;
  color: white;
}

textarea {
  resize: none;
  width: 20rem;
  height: 150px;
  border-radius: 5px;
  color: white;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 3px;
  overflow-x: auto;
  font-size: x-small;
}


td {
  vertical-align: top;
}

td:nth-of-type(6) {
  text-align: center;
}

td:nth-of-type(4) {
  text-align: center;
}

select {
  color: white;
  margin: 1rem;
  border-radius: 5px;
}

.btn-search {
  color: white;
  border-style: none;
}

.btn-submit {
    width: 100px;
    color: black;
    background-color: rgb(104, 97, 97);
  }

.label {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: rgb(43, 43, 43);
}

.images {
  margin: auto;
  width: 90%;
  object-fit: contain;
  
}


.content {
  color: white;
}

.form {
  margin: 15px;
}

.edit {
  color: white;
  border-style: none;
}

.delete {
  color: white;
  border-style: none;
}

#search-label {
  margin-top: 5px;
  margin-right: 3px;
}

#searchMovie {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-top: 80px;
}

#tableMovies {
  margin: 50px;
  width: 100%;
  table-layout: fixed;
  
}

#mainForm {
  display: flex;
  justify-content: space-around;
}

#editMovie {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  background-color:  rgb(43, 43, 43);
}

#addMovie {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  background-color:  rgb(43, 43, 43);
}

#placeholderImg {
  display: none;
}

#filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

@media (min-width: 600px) {

  table, th, td {
    padding: 8px;
    font-size: medium;
  }


  .form {
    margin: 0px;
  }

  #tableMovies {
    margin: 50px;
    width: 80%;
  }
}

@media (min-width: 992px) {
  input {
    font-size: medium;
    width: 30rem;
    height: 30px;
  }

  select {
    height: 30px;
    font-size: medium;
  }

  textarea {
    font-size: medium;
     width: 30rem;
  }
  .content {
    margin: 50px;
  }

  #placeholderImg {
    display: block;
    margin: 50px;
    width: 60%;
  }

  #tableMovies {
    margin: 50px;
    width: 90%;
  }
  

#search-label {
    margin-top: 10px;
    margin-right: 10px;
  }

}